<%= stylesheet_link_tag 'groups' %>

<div class="main p-5">
  <h2>Editing group</h2>

  <%= render "form", group: @group %>

  <div>
    <%= link_to "Show this group", @group %> |
    <%= link_to "Back to groups", groups_path %>
  </div>
</div>
