<%= stylesheet_link_tag 'groups' %>

<div class="main">
  <div style="padding-left: 30px; padding-top: 10px;">
    <h1>New group</h1>

    <%= render "form", group: @group %>

    <br>

    <div>
      <%= link_to "Back to groups", groups_path %>
    </div>
  </div>
</div>
