<div class="table-row row">
  <div class="col">
    <%= user.full_name %>
  </div>

  <div class="col">
    <%= user.phone_number %>
  </div>

  <div class="col">
    <%= user.email %>
  </div>

  <div class="action-col">
    <%= button_to "Show", {:controller => :users, :action => 'show', :id => user.id }, method: "get", :class=> "btn btn-light" %>
  </div>

</div>
