<%= stylesheet_link_tag 'user' %>

<div class="main">
  <div class="content">
    <div class="user-table">
      <div class="users">
        <div class="table-header row">
          <div class="col">Name</div>
          <div class="col">Phone Number</div>
          <div class="col">Email</div>
          <div class="action-col">Show</div>
        </div>
        <% @users.each do |user| %>
          <% if user.email == (current_admin.email) %>
            <%= render user %>
          <% end %>
        <% end %>
        <% @users.each do |user| %>
          <% if user.email != (current_admin.email) && ENV.fetch('ADMIN_EMAILS') == (current_admin.email) %>
            <%= render user %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="new-user">
    <%= button_to "New user", new_user_path, method: "get" %>
  </div>
</div>