<%= stylesheet_link_tag 'events' %>

<div class="main">

  <div class="content">
    <div class="event-table">
      <div class="events">
        <div class="table-header row">
          <div class="col fill">Name</div>
          <div class="time-col col">Start / End</div>
          <div class="action-col"> Show </div>
          <div class="action-col"> Action</div>
        </div>
        <div class="scroll">
          <% @events.each do |event| %>
              <%= render event %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="calendar">
      <iframe src=<%= @calendar_url %> class="iframe" frameborder="0" scrolling="no"></iframe> 
    </div>
  </div>


  <div class="new-event">
    <%= button_to "New event", new_event_path, method: 'get' %>
  </div>
</div>
