<!-- This is to link the stylesheet to this view. -->
<%= stylesheet_link_tag 'homepage' %>

<div class="body">
    <!-- This is for the top section to have the background photo -->
    <div class="section1">
        <% if current_admin.present? %>
            <h1 class="p-3"> Welcome <%= current_admin.full_name %>!</h1>
        <% end %>
    </div>
    
    <!-- This is for the botton section to have the background color -->
    <div class="section2">
        <div class="box sub-box">
            <h1>Howdy Ags!</h1>
            
            </p>
            <p>WE ARE LOVE</p>
                
            We believe in building a happier world. We believe that Love is the only way. We believe Jesus Christ is the best expression & example of that Love!
                
            <p/>
            <p>WE ARE FAMILY.</p>
                
            We are a family who sees past the outward appearance and helps each other in the highs and in the seemingly lows of life. This is a no-judgment zone, All Aggies accepted!
        </div>
        <div class="box sub-box">
            <p>WE ARE GLOBAL.</p>
                
            LoveWorld TAMU is a chapter within the Texas Region. We are a campus ministry org/church and we are apart of the global Believers' LoveWorld network made up of 1,000+ campus fellowships. Although, we find personal development important, sharing love in a tangible way to our world is something we strive to do, no matter how small.
            
            Thanks and Gig’em!'
            
            </p>
            <h1>Contact Information</h1>
            Email: <a href = "mailto: loveworldtamu@gmail.com">loveworldtamu@gmail.com</a>
            </p>
            Phone Number: <a href = "tel: (979) 446-8537">(979) 446-8537</a>
        </div>
    
    </div>
    <div class="section3">
        <!-- This is where the version will be place -->
        <div class="version">
            <p class="version-font">Made using Ruby on Rails</p>
        </div>
        
        <!-- This is for the links at the botton of the screen -->
        <div class="outsideLinks">
            <%= link_to "https://www.instagram.com/loveworldtamu/" do %>
                <%= image_tag "instgramLogo.png", alt: "Image Description", size: "50x50" %>
            <% end %>
        </div>
    </div>
</div>