<%= stylesheet_link_tag 'posts' %>

<div class="main">
  <div style="padding-left: 30px; padding-top: 10px;">
    <h2>Editing post</h2>

    <%= render "form", post: @post %>

    <div>
      <%= link_to "Show this post", @post %> |
      <%= link_to "Back to posts", posts_path %>
    </div>
  </div>
</div>
