<%= stylesheet_link_tag 'posts' %>

<div class="main">
  <div style="padding-left: 30px; padding-top: 10px;">
    <h1>New post</h1>

    <%= render "form", post: @post %>

    <br>

    <div>
      <%= link_to "Back to posts", posts_path %>
    </div>
  </div>
</div>