<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  #comments
  %h2= @post.comments.count
  = render @post.comments
%h3 Reply to thread
  = render "comments/form"
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
