/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$table-border: 7px solid white;
$maroon: #500000;
$cream-light:#fff0db;
$cream-dark: #edd8ba;

.main {
    background-color: $cream-light;
    display: flex;
    flex-flow: column nowrap;
    min-height: 94vh;
    width: 100vw;
}


.content {
    display:flex;
    flex-direction: row;
    width: 100vw;
    padding: 0.5rem;
    align-content:center;
}

.event-table {
    display: flex;
    justify-content: center;
    flex-grow:1;
    color: white;
    width: 100%;
}

.calendar {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 600px;
}

.table-header {
    min-height: 7rem;
    border: $table-border;
    background-color: $maroon;
}
.table-row {
    min-height: 6rem;
    border-bottom: $table-border;
    border-right: $table-border;
    border-left: $table-border;
}
.table-row:nth-child(even) {
    background-color: $maroon;
}
.table-row:nth-child(odd) {
    background-color: $cream-dark;
}

.time-col {
    width: 10rem;
}

.new-event {
    padding: 1rem;
}