/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.body{
    display: flex;
    flex-flow: column nowrap;
    height: 94vh;
}

@media only screen and (min-width: 1200px){
    .section1 {
        background-image: image-url('organization-panorma.webp');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vh;
      }
}

@media only screen and (max-width:1200px){
    .section1 {
        background-image: image-url('organization-panorma.webp');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 30vh;
      }
}

.section2 {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff0db;
    flex-grow: 1;
}
.section3 {
    display: flex;
    background-color: #fff0db;
    flex-grow: 1;
}

.box{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sub-box {
    margin-left: 5%;
    margin-right: 5%;
}

p{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

.outsideLinks{
    position: relative;
    margin-left: auto; 
    margin-right: 0;
}

.version{
    position: relative;
    margin-top: 2%;
}

.version-font{
    font-size: .5rem;
}